body {

  min-height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #008C45 0%, #008C45 33.33%, #F4F5F0 33.33%, #F4F5F0 66.66%, #CD212A 66.66%, #CD212A 100%);
  font-family: 'Roboto', Arial, sans-serif;
}